<%= simple_form_for @performance do |f| %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :speciality %>
    <%= f.input :area %>
    <%= f.input :price %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Create" %>
  </div>
<% end %>
