<%= simple_form_for @performance do |f| %>

  <div class="form-inputs" id="new-perf-form">
    <%= f.error_notification %>
    <%= f.input :name, label: 'Nom de ta "performance"', placeholder: "ex: jonglage de croquettes..."%>
    <%= f.input :speciality, label: 'La catégorie', placeholder: "ex: Art, Collection, Bouffe..." %>
    <%= f.input :area, label: 'Rayon géographique', placeholder: "en km"%>
    <%= f.input :price, label: "Le prix à l'heure", placeholder: "en €"%>
    <%= f.input :zip_code, :as => :hidden %>
    <%= f.input :city, :as => :hidden %>
    <%= f.input :address, required: true, placeholder: "Enter" %>
    <%= f.input :photo, as: :attachinary %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "On y va", class: "btn btn-success", :url => {:action => "search"} %>
  </div>
<% end %>

