<div class="wrapper all-performances-wrapper">
  <div class="container all-performances-container">
    <h1>Toutes les <span>performances !</span></h1>

      <div class="col-xs-12 text-center" id="form_search_pages">
        <%= render 'shared/search_form' %>
      </div>

    <div id="map" class="map-index-perf" style="width: 100%; height: 400px;"></div>

    <% content_for(:after_js) do %>
      <script>
        $(document).ready(function() {
          var styles = [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#edc200"}]},{"featureType":"road.highway","elementType":"labels.text.fill","stylers":[{"color":"#000000"}]},{"featureType":"road.highway","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"},{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#f5a301"},{"visibility":"on"}]},{"featureType":"water","elementType":"labels.text.fill","stylers":[{"color":"#000000"}]},{"featureType":"water","elementType":"labels.text.stroke","stylers":[{"visibility":"off"}]}];

          var handler = Gmaps.build('Google');
          handler.buildMap({
            provider: {
              styles: styles
            },
            internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @marker.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(14);
            }
          });
        });
      </script>
    <% end %>

    <div class="row">
      <% @performances.each do |performance| %>
        <div class="col-sm-6">

          <% if performance.photo? %>
            <div class="card" style="background-image: linear-gradient(-135deg, rgba(252, 234, 187, 0.5) 0%, rgba(248, 181, 0, 0.4) 50%), url('<%= cl_image_path performance.photo.path, height: 80, width: 200, crop: :fill %>');" >
          <% else %>
            <div class="card" style="background-image: linear-gradient(-135deg, rgba(252, 234, 187, 0.5) 0%, rgba(248, 181, 0, 0.4) 50%), url('<%= image_path('smiling-mr-bean-grey.jpg') %>');" >
          <% end %>

            <div class="card-category"><%= performance.speciality %></div>
            <div class="card-description">
              <h2><%= link_to performance.name, performance_path(performance) %></h2>
            </div>
            <%= image_tag('loue-un-con-logo.png', :class => "avatar card-user")%>
            <%= link_to "", performance_path(performance), :class=>"card-link" %>
          </div>
          <div class="card-sub-info">
            <p><%= performance.price %> € / heure</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

