<div class="wrapper" id="perf-show-wrapper">
  <div class="container" id="perf-show-container">
    <h1>performance : <span><%= @performance.name %></span></h1>

    <div class="row">
      <div class="col-xs-12">
        <p><strong>par : </strong><%= @performance.user.first_name %> <%= @performance.user.last_name %></p>
        <% if @performance.photo? %>
          <div  id="performance-photo"  style="background-image: linear-gradient(-135deg, rgba(252, 234, 187, 0.5) 0%, rgba(248, 181, 0, 0.4) 50%), url('<%= cl_image_path @performance.photo.path, height: 300, crop: :fill %>');" >
        <% else %>
          <div id="performance-photo" style="background-image: linear-gradient(-135deg, rgba(252, 234, 187, 0.5) 0%, rgba(248, 181, 0, 0.4) 50%), url('<%= image_path('smiling-mr-bean-grey.jpg')%>');" >
        <% end %>
        </div>
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
    <div class="row">
      <div class="col-xs-12">
        <div class="perf-show-map" id="map" style="width: 100%; height: 200px;"></div>

          <% content_for(:after_js) do %>
            <script>
              $(document).ready(function() {
                var styles = [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#edc200"}]},{"featureType":"road.highway","elementType":"labels.text.fill","stylers":[{"color":"#000000"}]},{"featureType":"road.highway","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"},{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#f5a301"},{"visibility":"on"}]},{"featureType":"water","elementType":"labels.text.fill","stylers":[{"color":"#000000"}]},{"featureType":"water","elementType":"labels.text.stroke","stylers":[{"visibility":"off"}]}];

                var handler = Gmaps.build('Google');
                handler.buildMap({
                  provider: {
                    styles: styles
                  },
                  internal: { id: 'map' } }, function() {
                  markers = handler.addMarkers(<%= raw @marker.to_json %>);
                  handler.bounds.extendWith(markers);
                  handler.fitMapToBounds();
                  if (markers.length == 0) {
                    handler.getMap().setZoom(2);
                  } else if (markers.length == 1) {
                    handler.getMap().setZoom(14);
                  }
                });
              });
            </script>
          <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12" id="perf-show-description">
        <div id="perf-show-description-content">
          <p><strong>Catégorie : </strong><%= @performance.speciality %></p>
          <p><strong>Prix : </strong><%= @performance.price %> €</p>
        </div>
        <% if !current_user.nil? && @performance.user_id == current_user.id %>
          <%= link_to 'Supprimer de mes performances', performance_path(@performance), method: :delete, class: "btn btn-danger" %>
        <% else %>
          <%= link_to 'Faire une demande de booking', new_performance_booking_path(@performance), class: "btn btn-success" %>
        <% end %>
      </div>
      <!-- end of col -->
    </div>

      <%= link_to "retour à la liste", performances_path, class: "btn btn-success btn-back-perf" %>
    <!-- end of row -->

  </div>
  <!-- end of container -->
</div>
